body {
 text-align:center;   
 font-family: 'Indie Flower', cursive;

}

img {
 height:200px;   
 margin:10px;
}

.images{
 margin-top:10px;   
}
input{
    width:130px;
}
h1{
    border:5px solid black;
    
}